QComboBox {
    padding: 2px;
    padding-left: 5px;
    background-color: #252525;
    color: white;
    border: 1px solid #3c3c3c;
    border-radius: 3px;
}

QComboBox:hover {
    background-color: #303030;
}

QComboBox::down-arrow {
    image: url(:/system_icons/down-arrow.png);
    width: 10px;
}

QComboBox QAbstractItemView {
    padding: 4px;
    background-color: #252525;
    color: white;
    border: 1px solid #3c3c3c;
    border-radius: 3px;
}

QComboBox::drop-down {
    border: none;
}