QLabel {
    color: #ffffff;
}

QDialog {
    background-color: #252525;
    border: 1px solid #3c3c3c;
    border-radius: 6px;
}

QListWidget {
    background-color: #252525;
    color: white;
    padding: 14px;
    border: 1px solid #3c3c3c;
    border-radius: 6px;
}

QListWidget::item {
    padding: 2px 15px;
    border-radius: 4px;
    color: white;
}

QListWidget::item:selected {
    background-color: #303030;
}

QPushButton {
    min-width: 80px;
    border-radius: 4px;
    color: white;
}

QPushButton#accept-btn {
    border: 2px solid #1f6d2d;
    background-color: #2ea043;
    padding: 2px 2px;
}

QPushButton#accept-btn:hover {
    background-color: #1f6d2d;
}

QPushButton#reject-btn {
    border: 1px solid #2c2c2c;
    background-color: #303030;
    padding: 3px 2px;
}

QPushButton#reject-btn:hover {
    background-color: #404040;
}


/*  SCROLLBAR:VERTICAL  */
QScrollBar:vertical {
    border: none;
    width: 10px;
    background-color: #252525;
    border-radius: 4px;
}

QScrollBar:handle:vertical {
    background-color: #424242;
    border-radius: 4px;
}

QScrollBar:handle:vertical:hover {
    background-color: #484848;
}

QScrollBar:handle:vertical:pressed {
    background-color: #525252;
}

QScrollBar::sub-line::vertical {
    border: none;
    background: #252525;
    height: 15px;
    border-radius: 7px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line::vertical {
    border: none;
    background: #252525;
    height: 15px;
    border-radius: 7px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: #252525;
    border: none;
}


/*  SCROLLBAR:horizontal */
QScrollBar:horizontal {
    border: none;
    height: 10px;
    background-color: #252525;
    border-radius: 4px;
}

QScrollBar:handle:horizontal {
    background-color: #424242;
    border-radius: 4px;
}

QScrollBar:handle:horizontal:hover {
    background-color: #484848;
}

QScrollBar:handle:horizontal:pressed {
    background-color: #525252;
}

QScrollBar::sub-line::horizontal {
    border: none;
    background: #252525;
    width: 15px;
    border-radius: 7px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line::horizontal {
    border: none;
    background: #252525;
    width: 15px;
    border-radius: 7px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
    background: #252525;
    border: none;
}