QTreeView#file-tree {
    background-color: #232323;
    border: 1px solid #2c2c2c;
    border-radius: 4px;
    padding: 3px;
    color: #ffffff;
}

QTreeView#file-tree:item {
    color: white;
    border: none;
}

QTreeView#file-tree:item:hover {
    background-color: #282828;
}

QTreeView#file-tree:item:selected {
    background-color: #303030;
}

/*  SCROLLBAR:VERTICAL  */
QScrollBar:vertical {
    border: none;
    width: 10px;
    background-color: #232323;
    border-radius: 4px;
}

QScrollBar:handle:vertical {
    background-color: #424242;
    border-radius: 4px;
}

QScrollBar:handle:vertical:hover {
    background-color: #484848;
}

QScrollBar:handle:vertical:pressed {
    background-color: #525252;
}

QScrollBar::sub-line::vertical {
    border: none;
    background: #232323;
    height: 15px;
    border-radius: 7px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line::vertical {
    border: none;
    background: #232323;
    height: 15px;
    border-radius: 7px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: #232323;
    border: none;
}


/*  SCROLLBAR:horizontal */
QScrollBar:horizontal {
    border: none;
    height: 10px;
    background-color: #232323;
    border-radius: 4px;
}

QScrollBar:handle:horizontal {
    background-color: #424242;
    border-radius: 4px;
}

QScrollBar:handle:horizontal:hover {
    background-color: #484848;
}

QScrollBar:handle:horizontal:pressed {
    background-color: #525252;
}

QScrollBar::sub-line::horizontal {
    border: none;
    background: #232323;
    width: 15px;
    border-radius: 7px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line::horizontal {
    border: none;
    background: #232323;
    width: 15px;
    border-radius: 7px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
    background: #232323;
    border: none;
}