QDialog {
    background-color: #252525;
    border: 1px solid #3c3c3c;
    border-radius: 6px;
}

QScrollArea {
    background-color: #252525;
    border: none;
}

QWidget#settings-widget {
    background-color: #252525;
    border: none;
}

QPushButton#highlighted-btn {
    color: #ffffff;
    border-radius: 4px;
    border: 2px solid #4361ee;
    background-color: #4895ef;
    padding: 2px;
}

QPushButton#highlighted-btn:hover {
    background-color: #4361ee;
}

QFrame#setting-frame {
    border: none;
    border-radius: 4px;
    background-color: #252525;
    padding: 4px;
}

QFrame#setting-frame:hover {
    background-color: #272727;
}

QListWidget {
    border: none;
    background-color: #252525;
    border-right: 1px solid #3c3c3c;
    border-radius: 0;
    padding: 2px;
}

QListWidget:item {
    color: white;
    padding: 2px 0;
    border-radius: 4px;
}

QListWidget:item:hover {
    background-color: #282828;
    color: #969ca2;
}

QListWidget:item:selected {
    background-color: #303030;
    padding-left: 10px;
}

/*  SCROLLBAR:VERTICAL  */
QScrollBar:vertical {
    border: none;
    width: 10px;
    background-color: #252525;
    border-radius: 4px;
}

QScrollBar:handle:vertical {
    background-color: #424242;
    border-radius: 4px;
}

QScrollBar:handle:vertical:hover {
    background-color: #484848;
}

QScrollBar:handle:vertical:pressed {
    background-color: #525252;
}

QScrollBar::sub-line::vertical {
    border: none;
    background: #252525;
    height: 15px;
    border-radius: 7px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line::vertical {
    border: none;
    background: #252525;
    height: 15px;
    border-radius: 7px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: #252525;
    border: none;
}


/*  SCROLLBAR:horizontal */
QScrollBar:horizontal {
    border: none;
    height: 10px;
    background-color: #252525;
    border-radius: 4px;
}

QScrollBar:handle:horizontal {
    background-color: #424242;
    border-radius: 4px;
}

QScrollBar:handle:horizontal:hover {
    background-color: #484848;
}

QScrollBar:handle:horizontal:pressed {
    background-color: #525252;
}

QScrollBar::sub-line::horizontal {
    border: none;
    background: #252525;
    width: 15px;
    border-radius: 7px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line::horizontal {
    border: none;
    background: #252525;
    width: 15px;
    border-radius: 7px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
    background: #252525;
    border: none;
}
